@model SjediBa.Models.SectionModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SectionModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpaceModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpaceModel.SpaceModelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatPrices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatPrices)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SectionModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
