@{
    ViewData["Title"] = "Događaji";
}
<h1>@ViewData["Title"]</h1>

@{  
    List<EventModel> events = new List<EventModel>();
    events.Add(new EventModel(new OrganizerModel("ime",  "prezime", "adresa", DateTime.Now, new ProxyModel(new AccountModel("admin", "admin", 1), 1), 1), new SpaceModel("adresa", new List<SectionModel>{new SectionModel(new List<SeatModel>{new SeatModel("10", 1)}, 100, "naziv", 1)}, new LocalAdministratorModel("name1", "surname1", DateTime.Now, "adresa1", new ProxyModel(new AccountModel("admin", "admin", 1), 1), 1),  1), DateTime.Now, DateTime.Now, "Dogadjaj 1", 1));
    events.Add(new EventModel(new OrganizerModel("ime",  "prezime", "adresa", DateTime.Now, new ProxyModel(new AccountModel("admin", "admin", 1), 1), 1), new SpaceModel("adresa", new List<SectionModel>{new SectionModel(new List<SeatModel>{new SeatModel("10", 1)}, 100, "naziv", 1)}, new LocalAdministratorModel("name1", "surname1", DateTime.Now, "adresa1", new ProxyModel(new AccountModel("admin", "admin", 1), 1), 1),  1), DateTime.Today, DateTime.Now, "Dogadjaj 2", 1));

}

<div class="clearfix">
    <div class="form-group float-right">
        <div>
            <i class="fa fa-search position-absolute pt-2 pl-3"></i>
            <input type="text" class="form-control pl-5" id="search" placeholder="Search">
        </div>
    </div>
    <table class="float-left w-100">
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Lokacija</th>
            <th>Datum</th>
            <th>Vrijeme</th>
            <th>Organizator</th>
        </tr>
        @foreach (var e in events)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.Name</td>
                <td>@e.Space.Address</td>
                <td>@e.StartDate.ToString("dd. MM. yy.")</td>
                <td>@e.StartDate.ToShortTimeString()</td>
                <td>@e.Organizer.Name</td>
                <td>
                    @{ var json = Newtonsoft.Json.JsonConvert.SerializeObject(e); }
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookingPopup" onclick="SetCurrentEvent(@json)">
                        Rezerviši
                    </button>
                </td>
            </tr>
        }
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="bookingPopup" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Rezerviši događaj</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <span class="h3" id="eventName"></span><br>
                </div>
                <form id="booking" class="form-horizontal" method="post" action="#">
                    @if(true)
                    {
                        <div class="form-group row">
                            <label for="name" class="col-form-label col-sm-2">Ime i prezime:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Ime i prezime">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="date" class="col-form-label col-sm-2">Datum rodjenja:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="date" id="date" placeholder="Datum rodjenja">
                            </div>
                        </div>
                    }
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <select class="form-control" name="sector" id="section" onclick="SetSeats(); SetPrice()">
                                <option value="">Sektor</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" name="seat" id="seat">
                                <option value="">Sjedište</option>
                            </select>
                        </div>
                    </div>
                </form>
                <span id="seatPrice"> </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="$('#booking').submit()">Rezerviši</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
            </div>
        </div>
    </div>
</div>